src/main/mule/cicd-demo-th.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f8623c92-f653-4a13-9ce7-c49071cc17c5" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="d332f34b-d14e-4c30-ac40-ef57a0e02871" >
		<db:my-sql-connection host="iltdb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<flow name="cicd-demo-thFlow" doc:id="a800d78b-37fb-45a7-b32e-55e2f026c4cf" >
		<http:listener doc:name="Listener" doc:id="876860a3-5849-4f40-98da-d26531b7d71a" config-ref="HTTP_Listener_config" path="/cicd" allowedMethods="GET"/>
		<db:select doc:name="Select" doc:id="5f273f68-faa1-4c78-b188-71db823d7a52" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from american]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="e0c23f53-aef4-4040-9da7-966c1540d0fe" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json 
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="cicd-demo-thFlow1" doc:id="d233ad9e-75b0-4ea5-95f0-2bc0e870ef3d" >
		<http:listener doc:name="Listener" doc:id="8d0099ca-2eb7-445a-86e2-9b29188a3a75" config-ref="HTTP_Listener_config" path="/cicd/{ID}" allowedMethods="GET"/>
		<db:select doc:name="Select" doc:id="cae1ead4-bca2-4275-9fd0-02f4b0127daa" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from american where id = :fID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	fID: attributes.uriParams.ID
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="527001ac-a491-4c64-8277-6dd15fa127eb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
